 
//Colors

$color-1: #B31F33;
$color-2: #B4001B;
$color-3: #E84A5F; 
$color-4: #FFFFFF; 
$color-5: #EAEAEA;
$color-6: #F1F1F1;
$color-7: #CDCDCD;
$color-8: #656565;
$color-9: #8D8D8D;
$color-10: #4B4B4B;
$color-11: #787878;
$color-12: #36312D;
$color-13: #E7E7E7;

 

 

